* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header #logo {
  width: 50%;
  border: 1px solid rgb(184, 166, 166);
  border-radius: 100px;
}

.header #form-name {
  font-weight: 300;
  margin-top: 10%;
  margin-bottom: 10%;
}

.header #form-name h1 {
  font-weight: 600;
  letter-spacing: 2px;
}

.form-body {
  width: 40%;
}

.name-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-section .first-name {
  display: flex;
  flex-direction: column;
}

.name-section .first-name label {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 7px;
}

.name-section .first-name input {
  padding: 10% 15% 10% 8%;
  border: 1px solid gray;
  border-radius: 25px;
}

.name-section .last-name {
  display: flex;
  flex-direction: column;
}

.name-section .last-name label {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 7px;
}

.name-section .last-name input {
  padding: 10% 15% 10% 8%;
  border: 1px solid gray;
  border-radius: 25px;
}

.email-section {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.email-section label {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 7px;
}

.email-section input {
  padding: 2%;
  border: 1px solid gray;
  border-radius: 25px;
}

.phone-section {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.phone-section label {
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 7px;
}

.phone-section input {
  padding: 2%;
  border: 1px solid gray;
  border-radius: 25px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.btn-container input {
  padding: 1%;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  border-radius: 20px;
  background-color: rgb(127, 255, 180);
}

.btn-container input:hover {
  background-color: rgb(64, 224, 131);
}