@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: bisque;
    text-align: center;
}

button {
    border-radius: 15px;
    border: none;
    background-color: aquamarine;
    color: black;
    padding: 10px;
}

input{
    border-radius: 20px;
    border: 1px solid black;
    padding: 15px;
}
